---
layout: base.njk
---
<article>
  <header class="colour-section">
    <h2>{{ title }}</h2>
    {% if title == 'website' %}
    <iframe src="{{ site | url }}" style="overflow:hidden;"></iframe>
    {% else %}
    <img src="{{ image | url }}" alt="{{ image_text }}"/>
    {% endif %}
  </header>
  {{ content | safe }}
  {% if github or site %}
  <footer class="colour-section">
    <ul class="inline">
    {% if site %}
      <li><a href="{{ site | url }}">Project Link</a></li>
    {% endif %}
    {% if github %}
      <li><a href="{{ github | url }}">Github Link</a></li>
    {% endif %}
    </ul>
  </footer>
  {% endif %}
</article>