---
layout: base.njk
---
<article>
  <header class="colour-section">
    <h2 class="project-title">{{ title }}
      <time datetime="{{ date | isoDate }}" title="{{ date | isoDate }}">
        {{ date | romanYear }}
      </time>
    </h2>
    {% if title == 'website' %}
    <iframe src="{{ site | url }}"></iframe>
    {% else %}
    <img src="{{ image | url }}" alt="{{ image_text }}"/>
    {% endif %}
  </header>
  {{ content | safe }}
  {% if github or site %}
  <footer class="colour-section">
    <ul class="links">
    {% if site %}
      <li><a href="{{ site | url }}">Project Link</a></li>
    {% endif %}
    {% if github %}
      <li><a href="{{ github | url }}">Github Link</a></li>
    {% endif %}
    </ul>
  </footer>
  {% endif %}
</article>