<h2 id="projects">Projects</h2>
<ul>
{% for project in collections.project %}
  <li><a href="{{ project.url | url }}">{{ project.data.title }}</a> - {{ project.data.description }}</li>
{% endfor %}
</ul
